<web-app>
  <servlet>
    <servlet-name>SetCookieServlet</servlet-name>
    <servlet-class>SetCookieServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetCookieServlet</servlet-name>
    <url-pattern>/SetCookieServlet</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
</web-app>
